<!-- <b-input-group right='username'>
                                     <b-form-input type="text" class="form-control" id="username" name="username" placeholder="Username/ID" v-model="login.username"></b-form-input> 
                                </b-input-group> -->
                                <!-- <div class="input-group has-addon">
                                    <input type="password" class="form-control" id="password" name="password" placeholder="Password" v-model="login.password">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                                </div>
                                <div class="input-group has-addon">
                                    <select name="role" id="role" class="form-control" v-model="login.role">
                                        <option value="">Peran Pengguna</option>
                                        <option value="1"> <i class="fa fa-user"></i>   Administrator </option>
                                        <option value="2"> Pembimbing </option>
                                        <option value="3"> Praktikan </option>
                                        <option value="4"> Tukang </option>
                                        <option value="5"> Tamu </option>
                                    </select>
                                </div> -->
                                <!-- <div class="input-group box-btn">
                                    <button class="btn btn-flat btn-success btn-login center-block">Masuk</button>
                                </div> -->